<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.digisarathi.phoneweb"
        versionCode="1" 
        version   = "0.0.1">

    

    <name>DigiSarathi</name>

    <description>
	Showcases our services and projects. 
    </description>

    <author href="http://www.digisarathi.com" email="prashant@digisarathi.com">
	Prashant Pandit
    </author>

    <content src="index.html" />

    <!-- Plugins can also be added here. -->
</widget>
